
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #99f0ff;
    background-image:
        radial-gradient(at 18% 19%, hsla(228, 83%, 61%, 1) 0px, transparent 50%),
        radial-gradient(at 67% 86%, hsla(28, 93%, 66%, 1) 0px, transparent 50%),
        radial-gradient(at 7% 55%, hsla(259, 87%, 63%, 1) 0px, transparent 50%),
        radial-gradient(at 2% 72%, hsla(267, 74%, 77%, 1) 0px, transparent 50%),
        radial-gradient(at 91% 42%, hsla(245, 94%, 72%, 1) 0px, transparent 50%),
        radial-gradient(at 8% 21%, hsla(223, 97%, 66%, 1) 0px, transparent 50%),
        radial-gradient(at 5% 15%, hsla(155, 90%, 67%, 1) 0px, transparent 50%);
    height: 100vh;
}

.container {
    width: 45%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.wrapper {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 15px 40px;
    border-radius: 5px;
    box-shadow: 0 15px 25px rgba(0, 0, 50, 0.2);
}

.toggle, .content, h1 {
    font-family: "Poppins", sans-serif;
}

.heading {
    background: #12A4ED;
    background: linear-gradient(135deg, #12A4ED, #B65397);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

h1 {
    text-align: center;
}

.toggle {
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: #111130;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 0;
}

.content {
    position: relative;
    font-size: 14px;
    text-align: justify;
    line-height: 30px;
    height: 0;
    overflow: hidden;
    transition: all 1s;
}